/* From Uiverse.io by SelfMadeSystem */ 
/*
More comprehensive version at shenanigans.shoghisimon.ca/collection/css-rain-bg/
 */




.contenedor {
    width:100vw;
    height:100vh;
  position: fixed;

  background-color: #000000ea;
 
}



